ul {
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap:10px;
}

li {
    list-style: none;
}

.titre{
    display: flex;
    justify-content: center;
}

.element-milieu{
    display: flex;
    justify-content: center;
}