.titre {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}




h1 {
    font-family: "Jersey 10";

}



.image {
    width: 250px;
    height: 320px;
    border-radius: 179px;


}

.legende {
    font-family: "Jersey 10";
    font-size: 28px;

}

.element-milieu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFC664;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    gap: 30px
}

button {
    display: flex;
    max-height: fit-content;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: 8px solid #FFABCF;
    background: #7F1E65;
    font-family: "Jersey 10";
    font-size: 48px;
    padding: 0 10px 0 18px;
    color: #FFF5FE;
}

.connaissances {
    font-family: "Jersey 10";
    background-color: darkviolet;
    height: 500px;
}


.logos img {
    height: 100px;
}