html {
  height: 100%;
}

body {
  background-color: #fff5fe;
  margin: 0;
  height: 100%;
}

header {
  background-color: #ffabcf;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-self: flex-end;
  position: absolute;
  top: 10px;
  left: 300px;
  width: 50px;
  height: 50px;
}

nav a[aria-current="page"] {
  color: black;
}

nav a {
  color: #7f1e65;
  text-decoration: none;
}

a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
  font-family: "Jersey 10";
  font-size: 30px;
}

li {
  list-style: none;
}

.accessibillité {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #eb6e00;
}

h1 {
  font-family: "Jersey 10";
  text-align: center;
  font-size: 40px;
}

footer {
  background-color: #ffabcf;
  
  padding: 10px;
  font-family: 'Jersey 10';
  font-size: 20px;
}

.teste {
  display: flex;
  justify-content: space-between;

}

.contact {

 

}

.infos-footer {

}