html {
    height: 100%;
}

body{
    background-color: #FFF5FE;
    margin:0;
    height: 100%;
}

nav {
    background-color: #FFABCF;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
   
    
}

nav a[aria-current="page"] {
  color: black;
  
}

nav ul {
    margin: 0;
    padding: 0;

}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    font-family: "Jersey 10";
    font-size: 30px;

}

li {
    list-style: none;
}



a {
    color: #7F1E65;
    text-decoration: none;
   
}

