body{
    background-color: #FFF5FE;
}

nav {
    background-color: #FFABCF;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

nav a[aria-current="page"] {
  color: black;
  
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: "Jersey 10";
    font-size: 30px;
}

li {
    list-style: none;
}



a {
    color: #7F1E65;
    text-decoration: none;
   
}

