body {
    background-color: pink;
}

h1 {
    font-family: "Jersey 10";
    text-align: center;
    font-size : 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 1rem;
    background-color: white;

}

.form-group {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-submit {
    align-self: flex-end;
    padding: 0.75rem 1.5rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #0056b3;
}

form {
    font-family: monospace;
}

textarea {
    height: 100%;
}

legend{
    font-size: 15px;
}

.erreur-messages{
    visibility: hidden;
}

.numero{
    visibility: hidden;
}
