.projets {
  width: 300px;

  gap: 40px;

  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;

  padding-top: 60px;
  justify-content: center;
}

.projet {
  background-color: #bfe0ff;
  height: 250px;
  width: 450px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}

article:hover {
  color: #236cf4;
}

a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
}

.boobaAttack {
  width: 70%;
}

.image-projet {
  height: 200px;
}
